
h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.navbar-nav>li>a{
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-toggle{
  right: 10px;
}

.dropdown-toggle{
  display: inline;
  left: -10px;
  width: 90px;
}

@media (min-width: 768px){
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navbar-collapse {
    width: 100%;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.page-body{
  margin-top: 60px;
}

.createButtonSidebar{
  width: 110px;
  left: 25%;
  margin-bottom: 10px;
}

.createButtonDropDownSidebar{
  min-width: 120px;
  left: -25px;
}

.navbar {
  position: fixed;
  padding-top: 5px;
}

.img-avatar{
  width: 35px;
}

#navbar-dropdown{
  position: absolute;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.dropdown-item{
  cursor: pointer;
}
