.card-header:hover{
  background-color: #f6f2f6;
}

.row{
  margin-bottom: 50px;
}

.center{
  margin:auto;
}

a{
  text-decoration: none;
}

.bars{
  margin-top: 20px;
}

.bartitle{
  color: black;
}
td.left{
  padding-left: 20px;
}
