<h1>{{currentFolderName}}
  <div class="progress">
    <div id="progress-bar" ngClass="{{progressBarSytle}}" role="progressbar" [style.width]="percentage+'%'">
      {{usage}}/{{quantity}} MB
    </div>
  </div>
</h1>

<div *ngIf="infoPanelDisplayed" id="filesInfo" ngClass={{infoPanelStyle}} role="alert">
  {{infoPanelText}}
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Filename</th>
      <th>Extension</th>
      <th>Size</th>
      <th>Upload Date</th>
      <th>Label</th>
      <th>Functions</th>
    </tr>
    </thead>

    <tbody id="FileListDisplay">
    <tr *ngIf="currentFolderId != -1">
      <td>
        <div style="cursor: pointer" (dblclick)="openFolder(-1, '...')"><span
          class="glyphicon glyphicon-folder-close"></span> ...
        </div>
      </td>
      <td></td>
      <td>
        <div>{{homeFolderSize}}/{{homeFolderMaxSize}} MB</div>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let file of filteredFiles">
      <td>
        <div *ngIf="file.folder == false"><span class="glyphicon glyphicon-file"></span> {{file.fileName}}</div>
        <div style="cursor: pointer" *ngIf="file.folder == true" (dblclick)="openFolder(file.id, file.fileName)"><span
          class="glyphicon glyphicon-folder-close"></span> {{file.fileName}}
        </div>
      </td>
      <td>{{file.extension}}</td>
      <td>
        <div *ngIf="file.folder == false">{{file.size}} MB</div>
        <div *ngIf="file.folder == true">{{file.size}}/{{file.maxSize}} MB</div>
      </td>
      <td>{{file.uploadDate}}</td>
      <td>{{file.label}}</td>
      <td>
        <div *ngIf="file.id > 0" class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            More
          </button>
          <div id="floatingButtonDropdown" class="dropdown-menu">
            <a class="dropdown-item" *ngIf="file.extension == '.txt'" (click)="fetchEditTxtData(file.id)"
               data-toggle="modal" data-target="#editTxtModal">Open TextFile</a>
            <div *ngIf="file.extension == '.txt'" class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="download(file.id)">Download</a>
            <a class="dropdown-item" (click)="setShare(file)" data-toggle="modal"
               data-target="#shareFileModal">Share</a>
            <a class="dropdown-item" (click)="setSelectedFile(file)" data-toggle="modal" data-target="#fileModifyModal">Modify</a>
            <a class="dropdown-item" (click)="deleteFile(file.id)" style="color: red; cursor: pointer">Delete</a>
          </div>
        </div>
      </td>
    </tr>

    </tbody>

  </table>


  <!-- FLOATING BUTTON -->
  <div id="floatingButton" class="btn-group dropup">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
      New
    </button>
    <div id="floatingButtonDropdown" class="dropdown-menu">
      <a class="dropdown-item" data-toggle="modal" data-target="#uploadModal">Upload</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" data-toggle="modal" data-target="#createTxtModal">Create text file</a>
      <a *ngIf="currentFolderId === -1" class="dropdown-item" href="" data-toggle="modal"
         data-target="#createFolderModal">Create Folder</a>
    </div>
  </div>


  <!-- FileModify -->
  <div class="modal fade" id="fileModifyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modify file details</h5>
        </div>
        <form #fileModifyForm="ngForm">
          <div class="modal-body">
            <div *ngIf="false" id="modifyInfo" class="alert alert-success" role="alert">
              <strong>Well done!</strong> You successfully read this important alert message.
            </div>
            <div class="input-group">
              <span class="input-group-addon modifyModal" id="modifyName">FileName</span>
              <input name="text" type="text" class="form-control" aria-describedby="basic-addon1"
                     [(ngModel)]="selectedFile.fileName" required>
            </div>
            <div class="input-group">
              <span class="input-group-addon modifyModal" id="modifyLabel">Label</span>
              <input name="label" type="text" class="form-control" aria-describedby="basic-addon1"
                     [(ngModel)]="selectedFile.label">
            </div>
            <div class="input-group" *ngIf="selectedFile.folder">
              <span class="input-group-addon modifyModal" id="modifyMaxSize">Max size</span>
              <input name="maxSize" type="text" class="form-control" aria-describedby="basic-addon1"
                     [(ngModel)]="selectedFile.maxSize" required>
            </div>
          </div>
          <div class="modal-footer">
            <button id="fileModifyCloseButton" type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="listFiles(currentFolderId)">
              Close
            </button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="fileModifyForm.invalid"
                    (click)="modifyFile()">Save changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- UPLOAD MODAL -->
  <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="uploadModalButton">Upload</h4>
          <button id="uploadClose" type="button" class="close" data-target="#uploadModal" data-dismiss="#uploadModal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #uploadForm="ngForm">
          <div class="modal-body">
            <div *ngIf="uploadInfoPanelDisplayed" id="filesUploadInfo" class="alert alert-danger" role="alert">
              {{uploadInfoPanelText}}
            </div>
            <label class="custom-file">
              <input name="files" class="custom-file-input" id="uploadedFiles" type="file"
                     formenctype="multipart/form-data"
                     (change)="listUploadedFiles()" required>
              <span class="custom-file-control"></span>
            </label>
            <br>
            <div *ngFor="let file of uploadedFilesList">
              {{file.name}} : {{(file.size/1024)/1024 | number:0 }} MB
            </div>
          </div>
          <div class="modal-footer">
            <button id="uploadCloseButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="button" class="btn btn-primary" [disabled]='!uploadedFilesList?.length > 0'
                   (click)="uploadFile()" value="Upload">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- CREATE FOLDER MODAL -->
  <div class="modal fade" id="createFolderModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create folder</h4>
          <button id="createFolderClose" type="button" class="close" data-dismiss="modal"></button>
        </div>
        <form #createFolderForm="ngForm">
          <div class="modal-body">
            <div *ngIf="false" id="createFolderInfo" class="alert alert-success" role="alert">
            </div>
            <div class="input-group">
              <span class="input-group-addon createFolderModal">Folder name*</span>
              <input name="name" type="text" class="form-control" aria-describedby="basic-addon1"
                     [(ngModel)]="newFolderName" required>
            </div>
            <div class="input-group">
              <span class="input-group-addon createFolderModal">Label</span>
              <input name="label" type="text" class="form-control" aria-describedby="basic-addon1"
                     [(ngModel)]="newFolderLabel">
            </div>
            <div class="input-group">
              <span class="input-group-addon createFolderModal">Max size*</span>
              <input name="maxSize" type="number" class="form-control" aria-describedby="basic-addon1"
                     [(ngModel)]="newFolderMaxSize" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input id="createFolderButton" type="button" class="btn btn-primary" [disabled]=createFolderForm.invalid
                   (click)="createFolder()" value="Create">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- CREATE TEXT FILE MODAL -->
  <div class="modal fade" id="createTxtModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create Text File</h4>
          <button id="createTxtClose" type="button" class="close" data-dismiss="modal"></button>
        </div>
        <form #createTxtForm="ngForm">
          <div class="modal-body">
            <div *ngIf="false" id="createTxtInfo" class="alert alert-success" role="alert">
            </div>
            <div class="input-group">
              <span class="input-group-addon createTxtModal">Title*</span>
              <input name="title" type="text" class="form-control" aria-describedby="basic-addon1"
                     [(ngModel)]="newTxtTitle" required>
            </div>
            <div class="form-group">
              <br>
              <span class="input-group-addon createTxtModal content">Content*</span>
              <textarea name="content" class="form-control" id="Textarea" rows="3" [(ngModel)]="newTxtContent"
                        required></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input id="createTxtButton" type="button" class="btn btn-primary" [disabled]="createTxtForm.invalid"
                   (click)="createTxtFile()" value="Create">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- EDIT TEXT FILE MODAL -->
  <div class="modal fade" id="editTxtModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{editTxtTitle}}</h4>
          <button id="editTxtClose" type="button" class="close" data-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="false" id="editTxtInfo" class="alert alert-success" role="alert">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="editTextarea" rows="3" [(ngModel)]="editTxtContent"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input id="editTxtButton" type="button" class="btn btn-primary" (click)="editTxtFile()" value="Save">
        </div>
      </div>
    </div>
  </div>

  <!-- SHARE FILE MODAL -->
  <div class="modal fade" id="shareFileModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Share</h4>
          <button id="shareClose" type="button" class="close" data-dismiss="modal"></button>
        </div>
        <form #shareFileForm="ngForm">
          <div class="modal-body">
            <div *ngIf="sharePanelDisplayed" id="shareInfo" ngClass={{sharePanelStyle}} role="alert">
              {{sharePanelText}}
            </div>
            <div class="input-group">
              <span class="input-group-addon createTxtModal">File name</span>
              <input name="filename" type="text" class="form-control" disabled aria-describedby="basic-addon1"
                     [(ngModel)]="shareFileName">
            </div>
            <div class="input-group">
              <span class="input-group-addon createTxtModal">Share with:*</span>
              <input name="email" type="text" class="form-control" aria-describedby="basic-addon1"
                     [(ngModel)]="shareWithEmail"
                     placeholder="Email" required>
              <span class="input-group-btn">
                <button id="shareButton" type="button" class="btn btn-primary shareButton"
                        [disabled]="shareFileForm.invalid" (click)="share()"><span
                  class="glyphicon glyphicon-send icon-align"></span> Share</button>
              </span>
            </div>
            <div class="selectAccess">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                         [(ngModel)]="shareReadOnly" value="true" required>
                  Download only
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                         [(ngModel)]="shareReadOnly" value="false" required>
                  Full Access
                </label>
              </div>
            </div>
            <div id="publicLink">
              <div *ngIf="publicLink != null" class="input-group">
                <span class="input-group-addon createTxtModal">Public Link</span>
                <input name="publicLink" type="text" class="form-control" aria-describedby="basic-addon1"
                       [(ngModel)]="publicLink">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-danger" (click)="deletePublicLink(shareFileId)"><span
                    class="glyphicon glyphicon-remove"></span> Remove</button>
                </span>
              </div>

              <div *ngIf="publicLink == null" align="center">
                <button type="button" class="btn btn-success" (click)="addPublicLink(shareFileId)"><span
                  class="glyphicon glyphicon-link"></span> Create public link
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="sharedWith != 0" class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Email</th>
                <th>Access</th>
              </tr>
              </thead>

              <tbody id="FileListDisplay">
              <tr *ngFor="let share of sharedWith">
                <td>{{share.email}}</td>
                <td>
                      <span>
                        <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" [name]="share.email" id="inlineRadio1"
                                 value="option1" [checked]="share.readOnly" (click)="changeAccess(true, share.email)"> Download Only
                        </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" [name]="share.email" id="inlineRadio2"
                                   value="option2" [checked]="!share.readOnly"
                                   (click)="changeAccess(false, share.email)"> Full Access
                          </label>
                        </div>
                        <button type="button" class="btn btn-danger removeShare"
                                (click)="removeAccess(share.email)"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                      </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
