.storage-option{
    border: 1px solid lightgray;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: stretch;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.fixed-size{
    width: 140px;
}

[hidden] { display: none !important;}
