<h2>Kábszerszámla:</h2>
<div class="row">
    <div class="col-sm-5 col-md-4">
        <h4><strong>faszfej neve: </strong></h4>
        <h4><strong>faszfej irányítószáma: </strong></h4>
        <h4><strong>faszfej városa: </strong></h4>
        <h4><strong>faszfej címe: </strong></h4>
        <h4><strong>faszfej telefonszáma: </strong></h4>
        <h4><strong>faszfej rendelése: </strong></h4>
    </div>

    <div class="col-sm-5 col-md-4">
        <h4>{{order.firstName}} {{order.lastName}} </h4>
        <h4>{{order.zip}}</h4>
        <h4>{{order.city}}</h4>
        <h4>{{order.address1}}</h4>
        <h4>{{order.phone}}</h4>
        <h4>{{order.bought}}MB pack</h4>
    </div>
</div>