<h1>{{currentFolderName}}</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Filename</th>
      <th>Extension</th>
      <th>Size</th>
      <th>Upload Date</th>
      <th>Label</th>
      <th>Functions</th>
    </tr>
    </thead>

    <tbody id="FileListDisplay">
    <tr *ngIf="filteredFiles != 0 && currentFolderId != -1">
      <td>
        <div style="cursor: pointer" (dblclick)="openFolder(-1, '...')"><span
          class="glyphicon glyphicon-folder-close"></span> ...
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let file of filteredFiles">
      <td>
        <div *ngIf="file.folder == false"><span class="glyphicon glyphicon-file"></span> {{file.fileName}}</div>
        <div style="cursor: pointer" *ngIf="file.folder == true" (dblclick)="openFolder(file.id, file.fileName)"><span
          class="glyphicon glyphicon-folder-close"></span> {{file.fileName}}
        </div>
      </td>
      <td>{{file.extension}}</td>
      <td>
        <div *ngIf="file.folder == false">{{file.size}} MB</div>
        <div *ngIf="file.folder == true">{{file.size}}/{{file.maxSize}} MB</div>
      </td>
      <td>{{file.uploadDate}}</td>
      <td>{{file.label}}</td>
      <td>
        <div *ngIf="file.id > 0 && file.folder==false" class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            More
          </button>
          <div id="floatingButtonDropdown" class="dropdown-menu">
            <a class="dropdown-item" *ngIf="file.extension == '.txt' && file.readOnly==false"
               (click)="fetchEditTxtData(file.id, file.parentId)"
               data-toggle="modal" data-target="#editTxtModal">Open TextFile</a>
            <div *ngIf="file.extension == '.txt' && file.readOnly==false" class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="download(file.id)">Download</a>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <a id="back-no-files" (click)="openFolder(-1, '...');">
    <div *ngIf="filteredFiles == 0 && currentFolderId != -1" class="alert alert-info" role="alert">
      <div class="no-files-found">No files found! Click <b>HERE</b> to return to the main folder
      </div>
    </div>
  </a>
  <div *ngIf="filteredFiles == 0 && currentFolderId == -1" class="alert alert-info" role="alert">
    <div class="no-files-found">No files found!</div>
  </div>

  <!-- EDIT TEXT FILE MODAL -->
  <div class="modal fade" id="editTxtModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{editTxtTitle}}</h4>
        </div>
        <div class="modal-body">
          <div *ngIf="false" id="editTxtInfo" class="alert alert-success" role="alert">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="editTextarea" rows="3" [(ngModel)]="editTxtContent"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button id="closeButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input id="editTxtButton" type="button" class="btn btn-primary" (click)="editTxtFile()" value="Save">
        </div>
      </div>
    </div>
  </div>

</div>
