<div class="row">
    <div class="col-sm-12 col-md-8">
        <h3>Transaction status:</h3>
    </div>
</div>
<div *ngIf="loaded">
    <div class="row" *ngIf="successful">
        <div class="col-sm-12 col-md-8">
            <div class="alert alert-success" role="alert">
                <h4>Transaction succesful!</h4><br>
                <h5>Your storage was extended!</h5>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!successful">
        <div class="col-sm-12 col-md-8">
            <div class="alert alert-danger" role="alert">
                <h4>Transaction failed!</h4><br>
                <h5>Your storage wasn't extended! But your money is ours anyway :P</h5>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="loaded">
        <div class="col-sm-12 col-md-8">
            <a routerLink ="/dashboard/files" routerLinkActive="active">
                <button  type="button" class="btn btn-primary orderbutton">Back to files</button>
                <br>
            </a>
        </div>
    </div>
<div>