<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CoolDrive</title>
</head>
<body>


<div class="background"></div>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
  <!-- Brandname and collapse button when navbar is closed -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#">CoolDrive</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Navbar's body, this is the one which collapse on small screen -->
  <div class="collapse navbar-collapse" id="topNavbar">
    <!-- navbar left align -->
    <ul class="nav navbar-nav navbar-left">
    </ul>

    <!-- navbar right align -->
    <ul class="nav navbar-nav navbar-right">
      <div>
        <a href="/login">
          <button type="button" class="btn btn-outline-success">Login</button>
        </a>
        <a href="/register">
          <button type="button" class="btn btn-outline-primary">Register</button>
        </a>
      </div>
    </ul>
  </div>
</nav>
<div class="content">

  <div class="row">
    <div class="col-md-10 col-sm-12 lightweight">
      <div class="card-group mb-0">
        <div class="card p-4">
          <div class="card-block text-center">
            <h1 class="text-left"><p>Lightweight</p></h1>
            <img src="https://www.victrex.com/~/media/images/infographics/fp-lightweight-feather.png"
                 alt="Lightweight image">
          </div>
        </div>
        <div class="card py-5">
          <div class="card-block text-center">
            <div>
              <h3><p>Can be run on weak servers, optimalization was important for us!</p></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-sm-12 lightweight">
      <div class="card-group mb-0">
        <div class="card p-4">
          <div class="card-block text-center">
            <h1 class="text-left"><p>Free</p></h1>
            <img src="https://pix-media.priceonomics-media.com/blog/329/freemium.jpg" alt="Freemium image">
          </div>
        </div>
        <div class="card py-5">
          <div class="card-block text-center">
            <div>
              <h3><p>It is free to use, but there are options to buy more storage.</p></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-sm-12 lightweight">
      <div class="card-group mb-0">
        <div class="card p-4">
          <div class="card-block text-center">
            <h1 class="text-left"><p>Paypal</p></h1>
            <img src="http://www.pikespeakwomenshockey.org/wp-content/uploads/2015/10/PayPal-logo.png"
                 alt="Paypal logo">
          </div>
        </div>
        <div class="card py-5">
          <div class="card-block text-center">
            <div>
              <h3><p>We integrated the most popular online payment system!</p></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
