<div data-spy="scroll" data-target=".orderbutton">
<div class="animated fadeIn">
  <div class="row">
      <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header" [style.background-color]="card1Color">
          <div class="glyphicon glyphicon-plus"></div> 1 MB storage
        </div>
        <div class="card-block">
           <div class="image-container">
               <img src="../../../assets/box_logo_green.png">
          </div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header" [style.background-color]="card2Color">
          <div class="glyphicon glyphicon-plus"> </div> 5 MB storage
        </div>
        <div class="card-block">
          <div class="image-container">
              <img src="../../../assets/box_logo_yellow.png">
          </div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header" [style.background-color]="card3Color">
          <div class="glyphicon glyphicon-plus"></div> 10 MB storage
        </div>
        <div class="card-block">
          <div class="image-container">
              <img src="../../../assets/box_logo_red.png">
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
</div>

<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-10 col-md-8 infobox">
            <h3>You can extend your storage if you want. Please choose one from the options below!</h3>
        </div>
    </div>
</div>

<hr>

<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-md-4 selectbox" >
            <h3>Options:</h3>
            <form ng-controller="ExtensionComponent">
                <div class="input-group">
                    <span class="input-group-addon warning">
                        <input type="radio" name="storage" value="1" aria-label="..." (click)="change1mbHeader()" [(ngModel)]="storage">
                    </span>
                    <h4 class="storage-option">+ 1 MB Storage (1$)</h4>
                </div><!-- /input-group -->
                <br>
                <div class="input-group">
                    <span class="input-group-addon warning">
                        <input type="radio" name="storage" value="5" aria-label="..." (click)=" change5mbHeader()" [(ngModel)]="storage">
                    </span>
                    <h4 class="storage-option">+ 5 MB Storage (5$)</h4>

                </div><!-- /input-group -->
                <br>
                <div class="input-group">
                    <span class="input-group-addon warning">
                        <input type="radio" name="storage" value="10" aria-label="..." (click)="change10mbHeader()" [(ngModel)]="storage">
                    </span>
                    <h4 class="storage-option">+ 10 MB Storage (10$)</h4>
                </div><!-- /input-group -->
            </form>
            <br>
        </div>

        <div class="col-sm-10 col-md-8 selectbox innerbox" [ngSwitch]="storage">
            <h3>Additional information:</h3>
            <div *ngSwitchCase="1">
                <h4><strong>Small pack:</strong> 1MB of space will be added to your storage. Use it wisely, if you can use it anyway...
                    It's maybe enough for a VGA picture...
                </h4>
            </div>
            <div *ngSwitchCase="5">
                <h4><strong>Medium pack:</strong> Additional 5MB of space will be added to your storage. Great, you can upload 1 extra .mp3 file...
                    With low bitrate of course!
                </h4>
            </div>
            <div *ngSwitchCase="10">
                <h4><strong>Premium pack:</strong> Additional 10MB of space will be added to your storage. Nice that's almost 2 high quality picture...</h4>
            </div>

            <div *ngSwitchDefault>
                <h4>Select one item from the options panel.</h4>
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="showStorageWarning">
                    <strong>Warning: </strong> You didn't chose any storage pack!
            </div>
        </div>
    </div>
    <hr>


    <div class="animated fadeIn collapse" id="orderForm">
        <div class="row">

            <div class="col-sm-8 col-md-6 order-form" id="form">
                <div>
                    <h3>Order form:</h3>
                    <h6>Billing address is optional!</h6>
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="showWarningPanel">
                    <strong>Warning: </strong> Some field are left empty, or you did not choose storage pack!
                </div>

                <div class="alert alert-success" role="alert" *ngIf="showSuccessPanel">
                    <strong>Success: </strong> Transaction started!
                </div>

                <div class="input-group">
                    <span class="input-group-addon fixed-size">First name: </span>
                    <input type="text" class="form-control" id="fNameField" placeholder="First name" [(ngModel)]="firstName">
                </div>
                <div class="input-group">
                    <span class="input-group-addon fixed-size">Last name: </span>
                    <input type="text" class="form-control" id="lNameField" placeholder="Last name" [(ngModel)]="lastName">
                </div>
                <div class="input-group">
                    <span class="input-group-addon fixed-size">ZIP code: </span>
                    <input type="text" class="form-control" id="zipField" placeholder="ZipCode" [(ngModel)]="zipCode">
                </div>
                <div class="input-group">
                    <span class="input-group-addon fixed-size">City: </span>
                    <input type="text" class="form-control" id="cityNameField" placeholder="City name" [(ngModel)]="city">
                </div>
                <div class="input-group">
                    <span class="input-group-addon fixed-size">Phone: </span>
                    <input type="text" class="form-control" id="phoneField" placeholder="Phone number" [(ngModel)]="phone">
                </div>
                <div class="input-group">
                    <span class="input-group-addon fixed-size">Address: </span>
                    <input type="text" class="form-control" id="addressField" placeholder="Street name, house number" [(ngModel)]="address">
                </div>
                <div class="input-group">
                    <span class="input-group-addon fixed-size">Billing address: </span>
                    <input type="text" class="form-control" id="billingAddressField" placeholder="Billing address(optional)" [(ngModel)]="billingAddress">
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="col-sm-12 col-md-10 order text-center" *ngIf="!showOrderDetails">
            <div class="btn-group" role="group" aria-label="...">
                <button (click)="showForm()" type="button" class="btn btn-primary orderbutton" data-toggle="collapse" data-target="#orderForm" aria-expanded="false">Show Order form</button>
            </div>
    </div>

    <div class="col-sm-12 col-md-10 order text-center" *ngIf="showOrderDetails">
            <div class="btn-group" role="group" aria-label="...">
                <button  type="button" (click)="initOrder(checkInput())" class="btn btn-primary orderbutton">Order</button>
            </div>
    </div>

</div>
</div>
