.card-header{
    font-family: Helvetica,Arial,sans-serif;
}
.card-block{
    background-color: lightgrey;
}

.image-container{
    display: flex;
    border-radius: 50px;
    padding: 10px;
    height: 100%;
    width: 100%;
    justify-content: center;
}

img{
    border-radius: 100px;
    width: 180px;
    height: 180px;
}

.infobox{
    display: flex;
    margin: auto;
    text-align: center;
}

.storage-option{
    border: 1px solid lightgray;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: stretch;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.order{
    margin: auto;
    display: flex;
    justify-content: center;
}

.orderbutton{
    width: 200px;
}

.fixed-size{
    width: 120px;
}

.order-form{
   margin: auto;
}

.form-control.fixed-size{
    width: 300px;
}
